.sidebar {
  background-color: #f0f2f5;
  width: 290px;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
  position: fixed;
  top: 67px;
  left: 8px;
}

.sidebar.closed {
  transform: translateX(-100%);
}

.sidebar-buttons {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar-result-btn {
  padding: 20px 10px;
}

/* Toggle Button Styling */
.sidebar-toggle-btn {
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
  background-color: #001529;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
